<!DOCTYPE html>
<html>
<head>
	<title>Log In to Site</title>
</head>
<body>

	<h1>Log In</h1>
	<br>
	<form  action="{% url 'Erpnext:login' %}" method="POST" id="loginForm">
	    {% csrf_token %}
		Username:  <input type="text" name="username"><br><br>
    Password: <input type="text" name="password"><br><br>
		<input type="submit" name="login" value="Log In">

	</form>
</body>
</html>
