<!DOCTYPE html>
<html>
<head>
	<title>Register Account</title>
</head>
<body>

	<h1>Registration Form</h1>
	<br>
	<form  action="{% url 'Erpnext:register' %}" method="POST" id="registerForm">
	    {% csrf_token %}
		First name:  <input type="text" name="fname"><br><br>
		Last name: <input type="text" name="lname"><br><br>
	  Email Address: <input type="text" name="email"><br><br>
		Username: <input type="text" name="username"><br><br>
		Password: <input type="text" name="password"><br><br>
		<input type="submit" name="register" value="Register">

	</form>
</body>
</html>
